[submodule "learn-artificial-life-101"]
	path = learn-artificial-life-101
	url = git@github.com:mastershin/learn-artificial-life-101.git
[submodule "intelligent-scissors"]
	path = intelligent-scissors
	url = git@github.com:mastershin/intelligent-scissors.git
[submodule "snake-active-contour"]
	path = snake-active-contour
	url = git@github.com:mastershin/snake-active-contour.git
