[submodule "learn-artificial-life-101"]
	path = learn-artificial-life-101
	url = git@github.com:mastershin/learn-artificial-life-101.git
[submodule "intelligent-scissors"]
	path = intelligent-scissors
	url = git@github.com:mastershin/intelligent-scissors.git
[submodule "snake-active-contour"]
	path = snake-active-contour
	url = git@github.com:mastershin/snake-active-contour.git
[submodule "sperm_genetic_algorithm"]
	path = sperm_genetic_algorithm
	url = git@github.com:mastershin/sperm_genetic_algorithm.git
[submodule "population-growth-simulation"]
	path = population-growth-simulation
	url = git@github.com:mastershin/population-growth-simulation.git
